@font-face {
	font-family: 'Atlassian';
	src:url('fonts/Atlassian.eot');
	src:url('fonts/Atlassian.eot?#iefix') format('embedded-opentype'),
		url('fonts/Atlassian.svg#Atlassian') format('svg'),
		url('fonts/Atlassian.woff') format('woff'),
		url('fonts/Atlassian.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Atlassian';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'Atlassian';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-charlie:before {
	content: "\e000";
}
